*~
*.spv

# Visual Studio detritus
Debug/
Release/
*.obj
*.o
*.htm
*.manifest*
*.pch
*.dep
*.idb
*.pdb
*.ncb
*.suo
*.user
*.ilk
*.exe
*.opensdf
*.sdf
*.tlog
*.log
*_manifest.rc
*.lastbuildstate
*.unsuccessfulbuild
*.ipch
*.cache

CMakeLists.txt.user*
build
